body{
    width: 99.8%;
    height: 99vh;
    margin: 0px;
    background-color: antiquewhite;
}

header{
    width: 99.9%;
    display: flex;
    position: absolute;
}

p1{
    text-align: center;
    font-size: 235%;
    font-family: cursive;
    align-items: center;
    display: flex;
}

footer{
    width: 99%;
    display: inline-block;
}

#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#mainContainer{
    width: 99.9%;
    height: 99vh;
    display: flex;
    align-items: center;
}

#navBar{
    width: 99.8%;
    display: flex;
    justify-content: space-around;
}

#left{
    display: flex;
}

#right{
    display: flex;
}

#bot{
    width: 99.8%;
    position: absolute;
    display: flex;
    bottom: 0;
    justify-content: space-between;
}

#bot_left{
    display: grid;
    grid-template-columns: 41px 41px 41px;
    grid-template-rows: 41px 41px 41px;
    grid-column-gap: 0px;
}

#bl1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#bl2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#bl3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

#bl4{
    
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#bl5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
}

#bl6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#bl1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#bl2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#bl3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
}

#bl4{
    
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#bl5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
}

#bl6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#br1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#br2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#br3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#br4{
    
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#br5{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#br6{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.center{
    display: flex;
    align-items: flex-end;
    padding: 0px;
}

h1{
    padding: 0px;
    vertical-align: bottom;
    font-family: monospace;
    margin: 0px;
    font-size: 250%;
    color: darkblue;
}

#bot_right{
    display: grid;
}

.twoBotR{
    position: relative;
}

.oneBotR{
    position: relative;
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: none;
    border: 1px black solid;
    transition-duration: 1s;
}

.circle:hover{
    background-color: aqua;
}

#projectSq{
    height: 20vh;
    width: 30vw;
    border: 1px black solid;
    transition-duration: 3s;
    margin: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectSq a {
    font-size: 3vw;
}

#AboutMe{
    display: flex;
    height: 20vh;
    width: 30vw;
    border: 1px black solid;
    transition-duration: 3s;
    margin: 5vw;
    justify-content: center;
    align-items: center;
}

#AboutMe a {
    font-size: 3vw;
    padding: inherit;
}

#AboutMe a:hover{
    color: aqua;
}

#GetInTouch{
    display: flex;
    height: 20vh;
    width: 30vw;
    border: 1px black solid;
    transition-duration: 3s;
    margin: 5vw;
    justify-content: center;
    align-items: center;
}
#GetInTouch a {
    font-size: 3vw;
}

#projectSq:hover{
    background-color: aqua;
    transform-origin:center;
    border-radius: 300px;
}

#AboutMe:hover{
    background-color: aqua;
    transform-origin:center;
    border-radius: 300px;
}

#GetInTouch:hover{
    background-color: aqua;
    transform-origin:center;
    border-radius: 300px;
}

/*nav{
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 1px black solid;
    border-radius: 30px
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: monospace; 
    font-size: 20px;
}

nav ul a{
    color: inherit;
    text-decoration: none;
}

nav ul a:hover{
    color: gray;
}



Just for reference
body {
	width: 99.9%;
	min-width: 900px;
	max-width: 1980px;
	font-family: serif, times new roman, script;
	font-weight: normal;
	font-size: 16px;
	margin: auto;
	border: 1px solid black;
}

#mainContainer {
	width:100%;
	background-image: #;
	background-color: white;
}

.header_div {
	position:relative;
	width: auto;
	height: auto;
	
}

.title1 {
	position: absolute;
	bottom: 0;
	font-family: cursive;
	color: orange;
	font-size: 45px;
}

#header_web {
	width: 87%;
	height: 70%;
}

nav.navigation {
	text-align: center;
	background-color: black;
	position: relative;
	top:-20px;
}

nav.navigation ul {
	list-style: none;
}

nav.navigation ul li {
	display: inline-block;
	background-color: black;
	border: 2px solid white;
	border-radius: 25px;
	padding: 0.8%;
}

nav.navigation ul li a {
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: "Courier New", Courier, monospace;
}

nav.navigation ul li a:hover {
	color:blue;
}

p.p1 {
	font-family: fantasy;
	color:pink;
	font-size: 30px;
}
*/
