body {
	width: 99.9%;
	min-width: 900px;
	max-width: 1980px;
	font-family: serif, times new roman, script;
	font-weight: normal;
	font-size: 16px;
	margin: auto;
	border: 0px solid black;
}

.MenuList {
	text-align: center;
	background-color: white;
	position: relative;
	top: 0px;
}

.MenuList ul {
	list-style: none;
}

.MenuList ul li {
	display: inline-flex;
}